# ── MySQL Database ──────────────────────────────────────────
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=renewa_green_dev
DB_NAME_TEST=renewa_green_test
DB_NAME_PROD=renewa_green
DB_USER=root
DB_PASSWORD=P4$$word@

# ── App ─────────────────────────────────────────────────────
NEXT_PUBLIC_BASE_URL=http://localhost:3000
